<div class="container-fluid">
  <div class="row flex-nowrap">
    <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
      <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
        <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
          <span class="fs-5 d-none d-sm-inline"><h3>Impara-Tutor</h3></span>
        </a>
        <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
          <li class="nav-item" *ngFor="let link of links">
            <a class="nav-link py-3 px-2" href="#{{link.name}}" style="color:{{link.color}}!important;" (click)="navigate(link.name)" title="{{link.name}}">
              @if (link.active) {
                <i class="bi-{{link.iconActive}} fs-1"></i>
              }
              @else {
                <i class="bi-{{link.iconInactive}} fs-2"></i>
              }
            </a>
          </li>
          <hr>
          <li class="nav-item">
            <a class="nav-link py-3 px-2" href="https://github.com/hydrogen2oxygen/impara-tutor" target="github" style="color:#dddddd!important;" title="GITHUB">
                <i class="bi bi-github fs-1"></i>
            </a>
          </li>
        </ul>
        <hr>
      </div>
    </div>
    <div class="col py-3">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
