.text-area {
  width: 100%;
  height: 300px;
  padding: 10px;
  font-size: 18px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

.a1 {
  color: #0a4000 !important;
  cursor: help;
}

.a2 {
  color: #426700 !important;
  border-bottom: 2px dotted #0b3a00 !important;
  cursor: help;
}

.b1 {
  color: #46b300 !important;
  font-weight: bold;
  border-bottom: 2px dotted #f4e700 !important;
  cursor: help;
}

.b2 {
  color: #7bc300 !important;
  font-weight: bold;
  border-bottom: 2px dotted #ffb400 !important;
  cursor: help;
}

.c1 {
  color: #e47a00 !important;
  font-weight: bolder;
  border-bottom: 2px dotted #ff0000 !important;
  cursor: help;
}

.c2 {
  color: #ff0000 !important;
  font-weight: bolder;
  border-bottom: 2px dotted #ff0000 !important;
  cursor: help;
}
