<h3>Read</h3>
<hr>
<button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addSourceModal">Add a New Source</button>
<button style="margin-left: 0.3rem" class="btn btn-success" (click)="mostImportantWords()">Most Important Words</button>
<button style="margin-left: 0.3rem" class="btn btn-success" (click)="generateSimplerText()">Simplify</button>
<button style="margin-left: 0.3rem" class="btn btn-success" (click)="evaluateDifficulty()">Evaluate Difficulty</button>
<hr>
<div>
  <b>Your text:</b>
  {{text.value}}
</div>
<span *ngIf="loading">Loading...</span>
<hr>
<div class="alert alert-light" style="margin: 0.5rem;">
  <b>Most Important Words:</b>
  {{mostImportantWord}}
</div>
<div class="alert alert-light" style="margin: 0.5rem;">
  <b>Simplified Text:</b>
  {{simplifiedText}}
</div>
<div class="alert alert-light" style="margin: 0.5rem;">
  <b>Difficulty evaluation:</b>
  <span *ngFor="let t of tokensDifficulty">
    <span
      *ngIf="t.type === 'word'"
      [class.a1]="t.difficulty === 'a1'"
      [class.a2]="t.difficulty === 'a2'"
      [class.b1]="t.difficulty === 'b1'"
      [class.b2]="t.difficulty === 'b2'"
      [class.c1]="t.difficulty === 'c1'"
      [class.c2]="t.difficulty === 'c2'"
      [attr.title]="t.translationEN">
      {{ t.value }}
    </span>
    <span *ngIf="t.type === 'punct'">{{ t.value }}</span>
  </span>
</div>
<hr>
<div class="alert alert-dark" role="alert">
  Reading feeds your mind with living patterns of the language—how words naturally combine, how meaning flows, and how grammar works without forcing rules. Each sentence quietly trains intuition, so vocabulary and structure settle into you almost unconsciously.
  <br/>
  Over time, this inner familiarity turns understanding into real, usable expression.
</div>

<!-- Modal -->
<div class="modal fade" id="addSourceModal" tabindex="-1" aria-labelledby="addSourceModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="addSourceModalLabel">Add a New Source</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <textarea [formControl]="importText" class="form-control text-area" rows="10" placeholder="Paste your text source here..."></textarea>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="saveText()" ) data-bs-toggle="modal" data-bs-target="#addSourceModal">Save changes</button>
      </div>
    </div>
  </div>
</div>
