<h3>Read</h3>
<hr>
<button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addSourceModal">Add a New Source</button>

<hr>
<div class="alert alert-dark" role="alert">
  Reading feeds your mind with living patterns of the language—how words naturally combine, how meaning flows, and how grammar works without forcing rules. Each sentence quietly trains intuition, so vocabulary and structure settle into you almost unconsciously.
  <br/>
  Over time, this inner familiarity turns understanding into real, usable expression.
</div>

<!-- Modal -->
<div class="modal fade" id="addSourceModal" tabindex="-1" aria-labelledby="addSourceModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="addSourceModalLabel">Add a New Source</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ... your text here ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
